---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/startups/search?slug=expect-labs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b29304158eb9982acc082080c8055d292889c65afe08ad96
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cb33a8198363614640ca9bb51ea2627d"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1998'
    body:
      encoding: ASCII-8BIT
      string: '{"id":39141,"hidden":false,"community_profile":false,"name":"Expect
        Labs","angellist_url":"https://angel.co/expect-labs","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/39141-2a03ea2dda37a310d0226b4702a1069a-medium_jpg.jpg?buster=1349907202","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/39141-2a03ea2dda37a310d0226b4702a1069a-thumb_jpg.jpg?buster=1349907202","quality":9,"product_desc":"We
        are the creators of the MindMeld app and API. The MindMeld API is an advanced
        developer platform and cloud-based service to power a new generation of intelligent
        voice interfaces.","high_concept":"Technology to power a new generation of
        intelligent voice experiences","follower_count":379,"company_url":"http://www.expectlabs.com/","created_at":"2012-01-18T00:54:21Z","updated_at":"2014-11-12T23:20:11Z","crunchbase_url":"http://www.crunchbase.com/company/expect-labs","twitter_url":"https://twitter.com/expectlabs","blog_url":"http://blog.expectlabs.com/","facebook_url":"http://www.facebook.com/ExpectLabs","linkedin_url":"https://www.linkedin.com/company/expect-labs","video_url":"https://www.youtube.com/watch?v=dg3qwHVnEYs","markets":[{"id":3,"tag_type":"MarketTag","name":"mobile","display_name":"Mobile","angellist_url":"https://angel.co/mobile-2"},{"id":200,"tag_type":"MarketTag","name":"artificial
        intelligence","display_name":"Artificial Intelligence","angellist_url":"https://angel.co/artificial-intelligence"},{"id":283,"tag_type":"MarketTag","name":"natural
        language processing","display_name":"Natural Language Processing","angellist_url":"https://angel.co/natural-language-processing"},{"id":841,"tag_type":"MarketTag","name":"software","display_name":"Software","angellist_url":"https://angel.co/software"}],"locations":[{"id":1692,"tag_type":"LocationTag","name":"san
        francisco","display_name":"San Francisco","angellist_url":"https://angel.co/san-francisco"}],"company_size":"11-50","company_type":[{"id":94212,"tag_type":"CompanyTypeTag","name":"startup","display_name":"Startup","angellist_url":"https://angel.co/startup"}],"status":null,"screenshots":[{"thumb":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/thumb/000/160/539/160539-f395e82f44960ef3851297903cb4069193beadff.jpg?1395432261","original":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/160/539/160539-79a714ac404ea51ba44555c302319c227794a7eb.png?1395432261"},{"thumb":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/thumb/000/160/540/160540-ade1765a4c9e853753a3510334ab9647786d3243.jpg?1395364967","original":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/160/540/160540-053f88c49c6a55401e58623dc10b4d859e756c7d.png?1395364967"},{"thumb":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/thumb/000/160/541/160541-8f97bd9de660d8ba7e5fab9e57c28218f8dac847.jpg?1395364968","original":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/160/541/160541-8f7548cb8686cf3068f745e52400b4158d98ace6.png?1395364968"}],"abilities":{"intro":{"can":false,"has":false}}}'
  recorded_at: Thu, 15 Jan 2015 22:45:19 GMT
- request:
    method: get
    uri: https://api.angel.co/1/startups/39141
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b29304158eb9982acc082080c8055d292889c65afe08ad96
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cb33a8198363614640ca9bb51ea2627d"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/39141/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b29304158eb9982acc082080c8055d292889c65afe08ad96
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"209fb8e9aeee4e4f827ff5ac2ee96881"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1996'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":7137,"title":"Android Engineer","description":"We are looking
        for a talented engineer who loves building cutting-edge native apps for the
        Android platform. Our ideal candidate will have either a strong academic background
        or a proven track record in the industry.  We look for candidates that have
        experience building and deploying apps on Google Play and are current with
        both the latest Android capabilities and distribution practices.\n\nThings
        We Look For:\n\n    B.S., M.S., or Ph.D. in Computer Science or equivalent\n    fluency
        with Java and related frameworks\n    experience with performance optimization
        on Android\n    strong understanding of Internet technologies and mobile development\n    familiarity
        with visual design and user experience principles\n    strong communication
        skills\n\n- See more at: http://www.expectlabs.com/jobs#sthash.SvLmjQYi.dpuf","created_at":"2012-10-11T02:09:57Z","updated_at":"2014-11-05T19:38:04Z","equity_cliff":"1.0","equity_min":"0.05","equity_max":"0.2","equity_vest":"4.0","currency_code":"USD","job_type":"full-time","salary_min":70000,"salary_max":150000,"angellist_url":"https://angel.co/expect-labs/jobs/7137-android-engineer","tags":[{"id":14780,"tag_type":"SkillTag","name":"java","display_name":"Java","angellist_url":"https://angel.co/java"},{"id":15666,"tag_type":"SkillTag","name":"mobile","display_name":"Mobile","angellist_url":"https://angel.co/mobile"},{"id":16680,"tag_type":"SkillTag","name":"android","display_name":"Android","angellist_url":"https://angel.co/android-1"},{"id":17237,"tag_type":"SkillTag","name":"mobile
        development","display_name":"Mobile Development","angellist_url":"https://angel.co/mobile-development"},{"id":1692,"tag_type":"LocationTag","name":"san
        francisco","display_name":"San Francisco","angellist_url":"https://angel.co/san-francisco"},{"id":14726,"tag_type":"RoleTag","name":"developer","display_name":"Developer","angellist_url":"https://angel.co/developer"},{"id":14739,"tag_type":"RoleTag","name":"mobile_developer","display_name":"Mobile
        Developer","angellist_url":"https://angel.co/mobile_developer"}],"remote_ok":false,"startup":{"id":39141,"hidden":false,"community_profile":false,"name":"Expect
        Labs","angellist_url":"https://angel.co/expect-labs","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/39141-2a03ea2dda37a310d0226b4702a1069a-medium_jpg.jpg?buster=1349907202","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/39141-2a03ea2dda37a310d0226b4702a1069a-thumb_jpg.jpg?buster=1349907202","quality":9,"product_desc":"We
        are the creators of the MindMeld app and API. The MindMeld API i[...]
