---
http_interactions:
- request:
    method: get
    uri: https://api.crunchbase.com/v/2/organization/does-not-exist-company?user_key=<CRUNCHBASE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"response":false,"error":{"message":"Entity does-not-exist-company
        not found","code":404}}}'
  recorded_at: Fri, 16 Jan 2015 06:58:23 GMT
recorded_with: VCR 2.9.3
