---
http_interactions:
- request:
    method: get
    uri: https://api.crunchbase.com/v/2/organization/expect-labs?user_key=<CRUNCHBASE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Run-Esi:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "metadata": {
            "version": 2,
            "www_path_prefix": "https://www.crunchbase.com/",
            "api_path_prefix": "https://api.crunchbase.com/v/2/",
            "image_path_prefix": "https://res.cloudinary.com/crunchbase-production/"
          },
          "data": {
            "uuid": "4257c5971cbd60d370e58e58f2629c11",
            "type": "Organization",
            "properties": {
              "role_company": true,
              "permalink": "expect-labs",
              "primary_role": "company",
              "is_closed": false,
              "closed_on_trust_code": 0,
              "name": "Expect Labs",
              "description": "Expect Labs is the creator of the MindMeld API, the first developer platform capable of powering intelligent voice experiences for any app, device or website. Companies use this platform to create voice-driven assistants that understand what users say and automatically find the information they need before they have to type a search query. Expect Labs has been widely recognized as a leader in the field of anticipatory computing and was named by MIT Technology Review as one of the world&#39;s &quot;50 Smartest Companies&quot; of 2014. Developers can learn more and start building intelligent, voice-driven apps for free at developer.expectlabs.com.\n",
              "short_description": "Expect Labs is the creator of the MindMeld API, the first developer platform capable of powering intelligent voice experiences.",
              "homepage_url": "http://expectlabs.com",
              "closed_on_day": null,
              "closed_on_month": null,
              "closed_on_year": null,
              "closed_on": null,
              "email_address": "info@expectlabs.com",
              "founded_on_day": 1,
              "founded_on_month": 1,
              "founded_on_year": 2011,
              "founded_on": "2011-01-01",
              "founded_on_trust_code": 4,
              "num_employees_min": 11,
              "num_employees_max": 50,
              "secondary_role_for_profit": true,
              "num_employees_range": null,
              "created_at": 1342142595,
              "updated_at": 1421262678,
              "total_funding_usd": 15400000,
              "number_of_investments": 0
            },
            "relationships": {
              "past_team": {
                "paging": {
                  "total_items": 6,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/expect-labs/past_team",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "first_name": "Walter",
                    "last_name": "Aldana",
                    "title": "VP of Business Development",
                    "started_on": null,
                    "ended_on": null,
                    "path": "person/walter-aldana",
                    "created_at": 1402092402,
                    "updated_at": 1402092402
                  },
                  {
                    "first_name": "Brett",
                    "last_name": "Barros",
                    "title": "UX Designer & Developer",
                    "started_on": "2011-01-01",
                    "ended_on": null,
                    "path": "person/brett-barros",
                    "created_at": 1351926495,
                  [...]
- request:
    method: get
    uri: https://api.crunchbase.com/v/2/funding-round/1996572821477c18c003cac18a638b04?user_key=<CRUNCHBASE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Run-Esi:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "metadata": {
            "version": 2,
            "www_path_prefix": "https://www.crunchbase.com/",
            "api_path_prefix": "https://api.crunchbase.com/v/2/",
            "image_path_prefix": "https://res.cloudinary.com/crunchbase-production/"
          },
          "data": {
            "uuid": "1996572821477c18c003cac18a638b04",
            "type": "FundingRound",
            "properties": {
              "target_money_raised_currency_code": "USD",
              "post_money_valuation_currency_code": "USD",
              "funding_type": "venture",
              "money_raised_usd": 13000000,
              "announced_on_year": 2014,
              "announced_on_day": 18,
              "announced_on_month": 12,
              "announced_on": "2014-12-18",
              "announced_on_trust_code": 7,
              "canonical_currency_code": "USD",
              "money_raised": 13000000,
              "money_raised_currency_code": "USD",
              "permalink": "1996572821477c18c003cac18a638b04",
              "name": "Expect Labs Funding Round",
              "series": "A",
              "post_money_valuation": null,
              "target_money_raised": null,
              "created_at": 1418907602,
              "updated_at": 1418959946
            },
            "relationships": {
              "investments": {
                "paging": {
                  "total_items": 11,
                  "first_page_url": "https://api.crunchbase.com/v/2/funding-round/1996572821477c18c003cac18a638b04/investments",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "type": "InvestorInvestment",
                    "money_invested": null,
                    "money_invested_currency_code": "USD",
                    "money_invested_usd": null,
                    "investor": {
                      "type": "Organization",
                      "name": "KPG Ventures",
                      "path": "organization/kpg-ventures"
                    }
                  },
                  {
                    "type": "InvestorInvestment",
                    "money_invested": null,
                    "money_invested_currency_code": "USD",
                    "money_invested_usd": null,
                    "investor": {
                      "type": "Organization",
   [...]
[...]
