---
http_interactions:
- request:
    method: get
    uri: https://api.crunchbase.com/v/2/organization/stamped?user_key=<CRUNCHBASE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Run-Esi:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "metadata": {
            "version": 2,
            "www_path_prefix": "https://www.crunchbase.com/",
            "api_path_prefix": "https://api.crunchbase.com/v/2/",
            "image_path_prefix": "https://res.cloudinary.com/crunchbase-production/"
          },
          "data": {
            "uuid": "ae54d83e6e4ccbd5135559349e41431b",
            "type": "Organization",
            "properties": {
              "role_company": true,
              "description": "Stamped is a fun and useful way to record and share all of your favorite things -- restaurants, books, movies, music and more.\n\nEveryone gets a limited number of stamps to start, so you\u2019ll discover only the best. \n",
              "short_description": "Stamped is a mobile application that enables users to record and share information.",
              "founded_on_day": 1,
              "founded_on_month": 4,
              "founded_on_year": 2011,
              "founded_on": "2011-04-01",
              "founded_on_trust_code": 6,
              "permalink": "stamped",
              "primary_role": "company",
              "is_closed": false,
              "closed_on_trust_code": 0,
              "homepage_url": "http://stamped.com",
              "name": "Stamped",
              "created_at": 1317083134,
              "updated_at": 1397987729,
              "total_funding_usd": 3000000,
              "number_of_investments": 0
            },
            "relationships": {
              "past_team": {
                "paging": {
                  "total_items": 1,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/past_team",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "first_name": "Bart",
                    "last_name": "Steiner",
                    "title": "Team Member",
                    "started_on": null,
                    "ended_on": null,
                    "path": "person/bart-steiner",
                    "created_at": 1303194942,
                    "updated_at": 1397989026
                  }
                ]
              },
              "board_members_and_advisors": {
                "paging": {
                  "total_items": 1,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/board_members_and_advisors",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "first_name": "Scott",
                    "last_name": "Friend",
                    "title": "Board Member",
                    "started_on": "2011-03-01",
                    "path": "person/scott-friend",
                    "created_at": 1249429764,
                    "updated_at": 1403634375
                  }
                ]
              },
              "current_team": {
                "paging": {
                  "total_items": 3,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/current_team",
                  "sort_order": "custom"
                },
                "items": [
                  {
                    "first_name": "Kevin",
                    "last_name": "Palms",
                    "title": "Co-Founder",
                    "started_on": null,
                    "path": "person/kevin-palms",
                    "created_at": 1317162688,
                    "updated_at": 1397989308
                  },
                  {
                    "first_name": "Bart",
                    "last_name": "Stein",
                    "title": "Co-Founder",
                    "started_on": null,
                    "path": "person/bart-stein",
                    "created_at": 1317710098,
                    "updated_at": 1417710872
                  },
                  {
                    "first_name": "Robby",
                    "last_name": "Stein",
                    "title": "Co-Founder/CEO",
                    "started_on": "2011-04-01",
                    "path": "person/robby-stein",
                    "created_at": 1317162559,
                    "updated_at": 1406333382
                  }
                ]
              },
              "acquired_by": {
                "paging": {
                  "total_items": 1,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/acquired_by",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "announced_on": "2012-10-25",
                    "type": "Acquisition",
                    "name": "Yahoo! acquired Stamped",
                    "path": "acquisition/82cd9d14b3d81862e703182378df9627",
                    "created_at": 1351229850,
                    "updated_at": 1397995042
                  }
                ]
              },
              "offices": {
                "paging": {
                  "total_items": 1,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/offices",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "type": "Address",
                    "name": null,
                    "street_1": null,
                    "street_2": null,
                    "postal_code": null,
                    "city": "New York",
                    "city_path": "location/new-york/d64b7615985cfbf44affaa89d70c4050",
                    "region": "New York",
                    "region_path": "location/new-york/83ead471332bd02e67b767279aed075b",
                    "country": "United States",
                    "country_path": "location/united-states/f110fca2105599f6996d011c198b3928",
                    "latitude": null,
                    "longitude": null,
                    "created_at": 1343324688,
                    "updated_at": 1397991979
                  }
                ]
              },
              "headquarters": {
                "paging": {
                  "total_items": 1,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/headquarters",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "type": "Address",
                    "name": null,
                    "street_1": null,
                    "street_2": null,
                    "postal_code": null,
                    "city": "New York",
                    "city_path": "location/new-york/d64b7615985cfbf44affaa89d70c4050",
                    "region": "New York",
                    "region_path": "location/new-york/83ead471332bd02e67b767279aed075b",
                    "country": "United States",
                    "country_path": "location/united-states/f110fca2105599f6996d011c198b3928",
                    "latitude": null,
                    "longitude": null,
                    "created_at": 1343324688,
                    "updated_at": 1397991979
                  }
                ]
              },
              "funding_rounds": {
                "paging": {
                  "total_items": 2,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/funding_rounds",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "type": "FundingRound",
                    "name": "Stamped raises 1500000 in seed round",
                    "path": "funding-round/eac084f2e4496936941742355ec3363f",
                    "created_at": 1349639144,
                    "updated_at": 1398009844
                  },
                  {
                    "type": "FundingRound",
                    "name": "Stamped raises 1500000 in seed round",
                    "path": "funding-round/67b5aaf7383a1b30b7a0e1d04e864bb4",
                    "created_at": 1317083354,
                    "updated_at": 1398010157
                  }
                ]
              },
              "categories": {
                "paging": {
                  "total_items": 1,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/categories",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "type": "Category",
                    "name": "Mobile",
                    "uuid": "e907cf2a842d8a30a0b107d9de4a8178",
                    "path": "category/mobile/e907cf2a842d8a30a0b107d9de4a8178",
                    "created_at": 1397980726,
                    "updated_at": 1421631835
                  }
                ]
              },
              "founders": {
                "paging": {
                  "total_items": 3,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/founders",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "type": "Person",
                    "name": "Bart Stein",
                    "path": "person/bart-stein",
                    "created_at": 1317710098,
                    "updated_at": 1417710872
                  },
                  {
                    "type": "Person",
                    "name": "Kevin Palms",
                    "path": "person/kevin-palms",
                    "created_at": 1317162688,
                    "updated_at": 1397989308
                  },
                  {
                    "type": "Person",
                    "name": "Robby Stein",
                    "path": "person/robby-stein",
                    "created_at": 1317162559,
                    "updated_at": 1406333382
                  }
                ]
              },
              "primary_image": {
                "paging": {
                  "total_items": 1,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/primary_image",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "type": "ImageAsset",
                    "title": null,
                    "path": "image/upload/v1397202065/4cf1d871893008f94d8d85ec41fbc1f7.png",
                    "created_at": 1398018534,
                    "updated_at": 1398018534
                  }
                ]
              },
              "images": {
                "paging": {
                  "total_items": 1,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/images",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "type": "ImageAsset",
                    "title": null,
                    "path": "image/upload/v1397202066/bce57e8423682e56e4facb065432d87e.png",
                    "created_at": 1398018534,
                    "updated_at": 1398018534
                  }
                ]
              },
              "websites": {
                "paging": {
                  "total_items": 1,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/websites",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "url": "http://stamped.com",
                    "type": "WebPresence",
                    "title": "homepage",
                    "created_at": 1317083134,
                    "updated_at": 1397987729
                  }
                ]
              },
              "news": {
                "paging": {
                  "total_items": 2,
                  "first_page_url": "https://api.crunchbase.com/v/2/organization/stamped/news",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "url": "http://techcrunch.com/2012/08/09/stamped-founder-robby-stein-on-launching-version-2-0-and-roping-celebrity-investors/",
                    "author": "Jordan Crook",
                    "posted_on": "2012-08-09",
                    "type": "PressReference",
                    "title": "Stamped Founder Robby Stein On Launching Version 2.0 And Roping Celebrity&nbsp;Investors",
                    "created_at": 1344520523,
                    "updated_at": 2012
                  },
                  {
                    "url": "http://techcrunch.com/2012/05/17/we-talk-to-two-exciting-new-nyc-startups-fancy-hands-and-stamped-tctv/",
                    "author": "Jordan Crook",
                    "posted_on": "2012-05-17",
                    "type": "PressReference",
                    "title": "We Talk To Two Exciting New NYC Startups: Fancy Hands And Stamped [TCTV]",
                    "created_at": 1337284859,
                    "updated_at": 2012
                  }
                ]
              }
            }
          }
        }
  recorded_at: Mon, 19 Jan 2015 04:13:22 GMT
- request:
    method: get
    uri: https://api.crunchbase.com/v/2/funding-round/eac084f2e4496936941742355ec3363f?user_key=<CRUNCHBASE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Run-Esi:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "metadata": {
            "version": 2,
            "www_path_prefix": "https://www.crunchbase.com/",
            "api_path_prefix": "https://api.crunchbase.com/v/2/",
            "image_path_prefix": "https://res.cloudinary.com/crunchbase-production/"
          },
          "data": {
            "uuid": "eac084f2e4496936941742355ec3363f",
            "type": "FundingRound",
            "properties": {
              "funding_type": "seed",
              "money_raised_usd": 1500000,
              "announced_on_year": 2012,
              "announced_on_day": 25,
              "announced_on_month": 7,
              "announced_on": "2012-07-25",
              "announced_on_trust_code": 7,
              "canonical_currency_code": "USD",
              "money_raised": 1500000,
              "money_raised_currency_code": "USD",
              "permalink": "eac084f2e4496936941742355ec3363f",
              "name": "Stamped raises 1500000 in seed round",
              "created_at": 1349639144,
              "updated_at": 1398009844
            },
            "relationships": {
              "investments": {
                "paging": {
                  "total_items": 10,
                  "first_page_url": "https://api.crunchbase.com/v/2/funding-round/eac084f2e4496936941742355ec3363f/investments",
                  "sort_order": "created_at DESC"
                },
                "items": [
                  {
                    "type": "InvestorInvestment",
                    "money_invested": null,
                    "money_invested_currency_code": "USD",
                    "money_invested_usd": null,
                    "investor": {
                      "type": "Organization",
                      "name": "TomorrowVentures",
                      "path": "organization/tomorrow-ventures"
                    }
                  },
                  {
                    "type": "InvestorInvestment",
                    "money_invested": null,
                    "money_invested_currency_code": "USD",
                    "money_invested_usd": null,
                    "investor": {
                      "type": "Person",
[...]
[...]
