---
http_interactions:
- request:
    method: get
    uri: https://api.crunchbase.com/v/2/organization/google-ventures/investments?order=created_at%20asc&page=1&user_key=<CRUNCHBASE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Run-Esi:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "metadata": {
            "version": 2,
            "www_path_prefix": "https://www.crunchbase.com/",
            "api_path_prefix": "https://api.crunchbase.com/v/2/",
            "image_path_prefix": "https://res.cloudinary.com/crunchbase-production/"
          },
          "data": {
            "paging": {
              "total_items": 324,
              "items_per_page": 1000,
              "number_of_pages": 1,
              "current_page": 1,
              "next_page_url": null,
              "prev_page_url": null,
              "sort_order": "created_at desc"
            },
            "items": [
              {
                "type": "InvestorInvestment",
                "money_invested": null,
                "money_invested_currency_code": "USD",
                "money_invested_usd": null,
                "funding_round": {
                  "path": "funding-round/36b01a0663ebd920732b64202a4606e2"
                },
                "invested_in": {
                  "type": "Organization",
                  "name": "North Technologies",
                  "path": "organization/north-technologies"
                }
              },
              {
                "type": "InvestorInvestment",
                "money_invested": null,
                "money_invested_currency_code": "USD",
                "money_invested_usd": null,
                "funding_round": {
                  "path": "funding-round/b81a880a4a2d29e3e3664be8ec3abdc1"
                },
                "invested_in": {
                  "[...]
